* {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}

header {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/banner/banner3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-section {
  padding: 216px 230px 216px 230px;
  text-align: right;
}

.head-section h1 {
  margin-left: auto;
  max-width: 525px;
  display: flex;
  justify-content: right;
  color: white;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.head-section p {
  margin-left: auto;
  display: flex;
  justify-content: right;
  max-width: 494px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.head-section a {
  text-decoration: none;
}


.btn-primary {
  border-radius: 5px;
  background: #fff;
  border: none;
  width: 160px;
  height: 64px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
}

.btn-primary:hover {
    cursor: pointer;
}

.failure {
    padding: 131px 322px 130px 206px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.failure-list {
    max-width: 416px;
}

.main-title {
    color:#151414;
font-size: 40px;
font-weight: 700;
}

.failure-list h2 {

margin-bottom: 24px;
}
.failure-list p {
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 16px;
}

.failure-list ul li {
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
list-style: none;
}

.plans {
    text-align: center;
    display: block;
}

.plans-title {
    margin-bottom: 50px;
}

.plans-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plans-content img {
    margin-bottom: 24px;
}

.plans-content h3 {
    color:#151414;
text-align: center;
font-size: 30px;
font-weight: 700;
margin-bottom: 16px;
}

.plans-content p {
    color: #737272;
text-align: center;
font-size: 25px;
font-weight: 500;
margin-bottom: 130px;
}

.call-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

.call-banner {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-image: url("assets/watch.png");
    background-repeat: no-repeat;
    background-position: center;
}

.call-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 59px 0px 0px 64px;
}

.call-content h3 {
    max-width: 459px;
    color: #FFF;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151414;
    color: #F8F8F8;
    padding: 130px 230px;
}

.future {
    display: block;
}

.future h3 {
font-size: 45px;
font-weight: 700;
margin-bottom: 15px;
}

.future p {
    max-width: 485px;
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}

.footer-icons img {
    margin: 0px 20px 0px 0px;
}

.subscribe h3 {
    color: #FFF;
font-size: 25px;
font-weight: 600;
margin-bottom: 31px;
}


.subscribe form input {
    background-color: #151414;
    color: #F3F3F3;
font-size: 18px;
font-weight: 400;
    display: block;
    width: 325px;
height: 64px;   
padding-left: 21px;
border-radius: 8px;
margin-bottom: 16px;
}

.subscribe form input[type=button] {
    color: #FFF;
font-size: 20px;
font-weight: 600;
    background-color: #005FAC;
    width: 170.106px;
height: 64px;
padding-left: 0px;
border: none;
}

.subscribe form input[type=button]:hover {
    cursor: pointer;
}

.checkmark {
    color: #16D887;
}