* {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}

header {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/banner/banner3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.head-section {
  padding: 216px 230px 216px 230px;
  text-align: right;
}

.head-section h1 {
  margin-left: auto;
  max-width: 525px;
  display: flex;
  justify-content: right;
  color: white;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.head-section p {
  margin-left: auto;
  display: flex;
  justify-content: right;
  max-width: 494px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.head-section a {
  text-decoration: none;
}

.head-section button {
  border-radius: 5px;
  background: #fff;
  border: none;
  width: 160px;
  height: 64px;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
}

.failure {
    padding: 131px 322px 130px 206px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.failure-list {
    max-width: 416px;
}

.failure-list h2 {
    color:#151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.failure-list p {
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 16px;
}

.failure-list ul li {
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
list-style: none;
}
